In [19]:
# Primer Dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = [
    ['Alex',25,'hombre'],
    ['Manuel',35,'hombre'],
    ['Cristina',22,'Mujer'],
    ['Ana',np.nan,'mujer'],
    ['Antonio',21,'hombre'],
    ['Yolanda',18,'Mujer'],
    ['Maria',20,'Mujer'],
    ['Juan Jose',23,'Hombre'],
    ['Raul',np.nan,'Hombre'],
    ['Miguel',17,'Hombre'],
    ['Susana',21,'Mujer']
]
df = pd.DataFrame(data,columns=['nombre','edad','sexo'])
print (df)
print('\n')
print(df.info())
print('\n')

       nombre  edad    sexo
0        Alex  25.0  hombre
1      Manuel  35.0  hombre
2    Cristina  22.0   Mujer
3         Ana   NaN   mujer
4     Antonio  21.0  hombre
5     Yolanda  18.0   Mujer
6       Maria  20.0   Mujer
7   Juan Jose  23.0  Hombre
8        Raul   NaN  Hombre
9      Miguel  17.0  Hombre
10     Susana  21.0   Mujer


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
nombre    11 non-null object
edad      9 non-null float64
sexo      11 non-null object
dtypes: float64(1), object(2)
memory usage: 344.0+ bytes
None

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

datos = pd.read_csv('../datos.csv')
df=pd.DataFrame(datos)
print (df)

        Alex    25  hombre
0     Manuel  35.0  hombre
1   Cristina  22.0   mujer
2        Ana   NaN   mujer
3    Antonio  21.0  hombre
4  Juan Jose  18.0  hombre
5       Raul  20.0  hombre
6     Miguel  23.0   mujer
7     Susana  21.0   mujer
8      Maria  17.0   mujer